*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250,240,230);
    
}
h1{
    color:  rgb(255,51,0);
}
h2{
    color: rgb(0,156,0);
}
h2 span{
    font-style: italic;
}
p span {
    font-weight: bolder;
}

 #blok1 {
 right: 30px;
 top: 30px;
 color: rgb(0, 0, 0);
 font-weight: 600;
 background-color: mistyrose;
 }
 #blok2 {
 right: 360px;
 top: 30px;
 color: rgb(0, 0, 0);
 font-weight: 600;
 background-color: mistyrose;
 }
 #blok3 {
 right: 30px;
 top: 260px;
 color: rgb(0, 0, 0);
 font-weight: 600;
 background-color: mistyrose;
 }
 #blok4 {
 right: 360px;
 top: 260px;
 color: rgb(0, 0, 0);
 font-weight: 600;
 background-color: mistyrose;
 }
 .a{
    color: rgb(0,156,0);
    background-color: mistyrose;
 }
 .maten {
 position: absolute;
 width: 300px;
 height: 200px;
 padding: 5px;
 border-style: solid;
 overflow: scroll;
 border-color: limegreen;
 background-color: mistyrose;
 }
 .footer {
    background-color: lightskyblue;
    border: mediumblue 1px solid;
    width: 80%;
    height: 40px;  /* Ik heb hier 40px staan maar dan staat hij er niet volledig op sprekende over de border*/
    position: fixed;
    bottom: 0px;
    left: 10%;
    text-align: center;
    font-style: italic;
    font-size: 2vw;
}
.footer span{
    background-color: lightskyblue;
}
.prijzen{
    text-align: right;
}
#ulmenu
 { list-style: none;
    margin: 30px 0px 0px 10px;
    padding:0px;
}    
a.amenu   
{ display: block;
    color: white;
    background-color: blue;
    border: 1px solid white;
    margin:0px;
    padding:2px 0px 0px 5px;
    font-weight: bold;
    text-decoration: none;
    height: 20px;width: 100px;
} 
li a:hover {color: blue;
    background-color: white;
    border-color: black;
}
.menutje{
    position: relative;
    text-align: left;    
}
section{
    width: 100%;
}
header{
    width: 100%;
}
article{
    position: absolute;
    left: 20%;
}
footer{
    width: 100%;
    clear: both;
}
.prijzen{
    position: absolute;
    left: 20%;
    top: 85%;
}
.peters{
    font-weight: bold
}
.tabel{
    border-color: red;
    border-inline-color: red; 
    border: 5px;
    z-index: 1000;
}
.it{
    font-style:italic;
}
